<!-- # /app/views/organizations/profile.html.erb -->

<%= render 'profile_header' %>
<div id='organizations-left-menu' style='float: left;'>
  <% @left_menu_links = @organization.left_menu(current_user) %>
  <%= render 'left_menu' %>
</div>
<div id='dashboard'>
  <%= render @organization.active_page(@params_page, @left_menu_links) %>
</div>
